---
layout: default
---

<div class="home">
  {% if site.video1 %}
    <video width="80%" controls preload="metadata">
        <source src={{ site.video1 }} type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <p>{{site.video1_desc}}</p>
  {% endif %}
 
  {% if site.video2 %}
    <video width="80%" controls preload="metadata">
        <source src={{ site.video2 }} type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <p>{{site.video2_desc}}</p>
  {% endif %}

  {% if site.video3 %}
    <video width="80%" controls preload="metadata">
        <source src={{ site.video3 }} type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <p>{{site.video3_desc}}</p>
  {% endif %}

  {% if site.video4 %}
    <video width="80%" controls preload="metadata">
        <source src={{ site.video4 }} type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <p>{{site.video4_desc}}</p>
    <p>
  {% endif %}

  {% if site.video5 %}
    <video width="80%" controls preload="metadata">
        <source src={{ site.video5 }} type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <p>{{site.video5_desc}}</p>
    <p>
  {% endif %}

  {% if site.video6 %}
    <video width="80%" controls preload="metadata">
        <source src={{ site.video6 }} type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <p>{{site.video6_desc}}</p>
    <p>
  {% endif %}

  {% if site.video7 %}
    <video width="80%" controls preload="metadata">
        <source src={{ site.video7 }} type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <p>{{site.video7_desc}}</p>
    <p>
  {% endif %}

  {% if site.video8 %}
    <video width="80%" controls preload="metadata">
        <source src={{ site.video8 }} type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <p>{{site.video8_desc}}</p>
    <p>
  {% endif %}

  {% if site.video9 %}
    <video width="80%" controls preload="metadata">
        <source src={{ site.video9 }} type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <p>{{site.video9_desc}}</p>
    <p>
  {% endif %}

  {% if site.video10 %}
    <video width="80%" controls preload="metadata">
        <source src={{ site.video10 }} type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <p>{{site.video10_desc}}</p>
    <p>
  {% endif %}


</div>
