  <div class="wrapper">
    <nav>
      <ul>
         <li><a class="post-link" href="{{ site.wizard1URL }}" title="{{ site.wizard1title }}"> {{ site.wizard1Display }}</a></li>
         {% if site.wizard2URL %}
           <li><a class="post-link" href="{{ site.wizard2URL }}" title="{{ site.wizard2title }}"> {{ site.wizard2Display }}</a></li>
           {% if site.wizard3URL %}
             <li><a class="post-link" href="{{ site.wizard3URL }}" title="{{ site.wizard3title }}"> {{ site.wizard3Display }}</a></li>   
             {% if site.wizard4URL %}
               <li><a class="post-link" href="{{ site.wizard4URL }}" title="{{ site.wizard4title }}"> {{ site.wizard4Display }}</a></li>
               {% if site.wizard5URL %}
                 <li><a class="post-link" href="{{ site.wizard5URL }}" title="{{ site.wizard5title }}"> {{ site.wizard5Display }}</a></li>
                 {% if site.wizard6URL %}
                   <li><a class="post-link" href="{{ site.wizard6URL }}" title="{{ site.wizard6title }}"> {{ site.wizard6Display }}</a></li>   
                   {% if site.wizard7URL %}
                     <li><a class="post-link" href="{{ site.wizard7URL }}" title="{{ site.wizard7title }}"> {{ site.wizard7Display }}</a></li>
                     {% if site.wizard8URL %}
                       <li><a class="post-link" href="{{ site.wizard8URL }}" title="{{ site.wizard8title }}"> {{ site.wizard8Display }}</a></li>
                       {% if site.wizard9URL %}
                         <li><a class="post-link" href="{{ site.wizard9URL }}" title="{{ site.wizard9title }}"> {{ site.wizard9Display }}</a></li>
                         {% if site.wizard10URL %}
                           <li><a class="post-link" href="{{ site.wizard10URL }}" title="{{ site.wizard10title }}"> {{ site.wizard10Display }}</a></li>
                           {% if site.wizard11URL %}
                             <li><a class="post-link" href="{{ site.wizard11URL }}" title="{{ site.wizard11title }}"> {{ site.wizard11Display }}</a></li>
                           {% endif %}
                         {% endif %}
                       {% endif %}
                     {% endif %}
                   {% endif %}
                 {% endif %}
               {% endif %}
             {% endif %}
           {% endif %}
         {% endif %}
     </ul>
    </nav>

